asgiref==3.7.2
crispy-bootstrap5==2023.10
Django==4.2.7
django-crispy-forms==2.1
django-environ==0.11.2
psycopg2-binary==2.9.9
setuptools==69.0.1
sqlparse==0.4.4
typing_extensions==4.8.0
tzdata==2023.3
wheel==0.41.3
django-allauth==0.58.2