{% extends "_base.html" %}

{% load static %}

{% block title %} {{ block.super }} - Books {% endblock title %}

{% block content %}
<div class="row justify-content-around">
    {% for book in book_list %}
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card">
                <div class="card-header">
                    {% if book.cover %}
                        <img class="cover-img" src="{{ book.cover.url }}" alt="{{book.title }}">
                    {% else %}
                        <img class="cover-img" src="{% static 'img/no_cover.png' %}" alt="{{ book.title }}">
                    {% endif %}
                </div>
                <div class="card-body text-center">
                    <a class="lead text-secondary" href="{{ book.get_absolute_url }}">{{ book.title }}</a>
                </div>
                {% if not user_sub_type and book.plan_type == "FR" %}
                    <a href="{{ book.get_absolute_url }}" class="btn btn-primary">Read Now</a>
                {% elif user_sub_type == "PR" %}
                    <a href="{{ book.get_absolute_url }}" class="btn btn-primary">Read Now</a>
                {% elif book.plan_type == "FR" or book.plan_type == "BS" and user_sub_type == "BS" %}
                    <a href="{{ book.get_absolute_url }}" class="btn btn-primary">Read Now</a>
                {% else %}
                    <a href="{% url 'sub_plan_list' %}" class="btn btn-primary">Subscribe</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}