<nav class="navbar bg-light">
    <div class="container-fluid">
      <a class="navbar-brand text-dark" href="{% url 'home' %}">Bookstore</a>
      <form class="d-flex" role="search">
        {% if user.is_authenticated %}
            <a href="{% url 'about' %}" class="btn btn-info m-1">About</a>
            <a href="{% url 'account_logout' %}" class="btn btn-danger m-1">Log out</a>
        {% else %}
            <a href="{% url 'account_signup' %}" class="btn btn-outline-secondary m-1">Sign up</a>
            <a href="{% url 'account_login' %}" class="btn btn-primary m-1">Log in</a>
        {% endif %}
      </form>
    </div>
</nav>